<vex-page-layout @fadeInRight>
    <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
        <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-6]="layoutCtrl.value === 'fullwidth'"
            class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <h1 class="title mt-0 mb-1">Lista de Modulos</h1>
                <vex-breadcrumbs [crumbs]="['Aplicaciones', 'Registros']"></vex-breadcrumbs>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-6]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
        <div class="card overflow-auto -mt-16">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
                <h2
                    class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
                    <span>Información General</span>
                </h2>
                <div class="mr-4 pr-4 border-r flex-none">
                    <button color="primary" mat-raised-button type="button" (click)="toggleExpandGroups()">
                        <mat-icon svgIcon="mat:compare_arrows"></mat-icon> {{ autoExpandAllGroups ? ' Contraer Grupos' :
                        ' Expandir Grupos' }}
                    </button>&nbsp;&nbsp;
                    <button color="accent" mat-raised-button type="button" (click)="limpiarCampos()">
                        <mat-icon svgIcon="mat:restore"></mat-icon> Limpiar
                    </button>
                </div>
            </div>
            <div class="mt-3 p-3">
            </div>

        </div>
    </vex-page-layout-content>
</vex-page-layout>