<vex-page-layout @fadeInRight>
  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-6]="layoutCtrl.value === 'fullwidth'">
    <div class="card mt-4">
      <div class="container-fluid p-4">
        <div class="bg-app-bar appbar px-6 h-16 border-b sticky top-0 left-0 flex items-center z-10">
          <nav class="breadcrumb-simple" aria-label="Ruta de navegación">
            <a routerLink="/administracion" class="crumb-link">
              <mat-icon inline>home</mat-icon>
              Administración
            </a>
            <span class="sep">/</span>
            <span class="crumb-current" aria-current="page">Permisos</span>
            <span class="sep">/</span>
            <span class="crumb-current" aria-current="page">Agregar Permiso</span>
          </nav>
        </div>
        <section class="mt-4">
          <form [formGroup]="permisoForm" class="container-fluid form-skin-lite">
            <div class="row g-3">
              <div class="col-12">
                <div class="section-head">
                  <h5 class="mb-1">Datos Generales</h5>
                </div>
                <div class="section-bar"></div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <label class="form-label">
                  <i class="fa fa-puzzle-piece"></i><span>Módulo</span>
                </label>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Módulo</mat-label>
                  <mat-select formControlName="idModulo">
                    <mat-option *ngFor="let modulo of listaModulos" [value]="modulo.id">
                        {{ modulo.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <label class="form-label">
                  <i class="fa fa-tag"></i><span>Nombre</span>
                </label>
                <mat-form-field appearance="fill" class="w-100">
                  <input matInput placeholder="Nombre" formControlName="nombre" />
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <label class="form-label">
                  <i class="fa fa-align-left"></i><span>Descripción</span>
                </label>
                <mat-form-field appearance="fill" class="w-100">
                  <input matInput placeholder="Descripción" formControlName="descripcion" />
                </mat-form-field>
              </div>
              <div class="col-12 d-flex justify-content-end gap-2 pt-2">
                <button mat-raised-button color="primary" type="button" (click)="submit()">
                  <mat-icon>save</mat-icon> Guardar
                </button>
                <button mat-raised-button color="warn" type="button" (click)="regresar()">
                  <mat-icon>close</mat-icon> Cancelar
                </button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>