.bg-pattern {
  background-image: url('/assets/img/demo/logo2.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}


.loader {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.align {
  background-color: #0b5791;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; 
  padding: 10px 20px; 
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  width: 100%; 
  transition: background-color 0.3s ease;
}

.align:hover {
  background-color: #044272; 
}

.align:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}