.ml{
    margin-left: 1%;
}
::ng-deep .dx-searchbox .dx-texteditor-input {
  --radii: 0.5em;
  cursor: pointer;
  min-height: 38px;
  color: white;
  font-size: var(--size, 14px);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-color: #0b5791;
  border: none;
  border-radius: var(--radii);
}

::ng-deep .dx-datagrid-search-text {
    color: #fff;
    background-color: #0b5791;
}

::ng-deep .dx-searchbox .dx-texteditor-input:hover {
  background-position: right top;
}

::ng-deep .dx-searchbox .dx-texteditor-input:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 0px var(--btn-bg-color),
    0 0 0 0px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .dx-searchbox .dx-texteditor-input {
    transition: linear;
  }
}

::ng-deep .dx-icon-clear:before {
  color: white;
}

::ng-deep .dx-icon-search:before {
  color: white !important;
}

::ng-deep .dx-searchbox .dx-placeholder::before,
.dx-searchbox .dx-texteditor-input,
.dx-searchbox.dx-editor-underlined .dx-texteditor-buttons-container+.dx-texteditor-input-container .dx-texteditor-input,
.dx-searchbox.dx-editor-underlined .dx-texteditor-input {
  padding-inline-start: 34px;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.container-fluid,
.container-fluid * {
  font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
  font-weight: 300 !important;
}

.container-fluid i[class^="fa"],
.container-fluid i[class*=" fa-"],
.container-fluid .fa {
  font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 6 Free", Arial, sans-serif !important;
  font-style: normal;
  font-weight: 400 !important;
}

.container-fluid .bx,
.container-fluid [class^="bx"],
.container-fluid [class*=" bx-"] {
  font-family: 'boxicons' !important;
  font-style: normal;
  font-weight: 400 !important;
}